body {
  margin: 0;
  color: rgba(29,161,242,1.00);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;

}

main {
  flex: 1;
  margin-top: 52.5px;
  margin-bottom: 52.5px;
}

footer {
  border-top-color: rgb(230, 236, 240);
  background-color:rgba(255,255,255,1.00);
  border-top-style: solid;
  border-top-width: 1px;
  padding-bottom: env(safe-area-inset-bottom);
  height: 52.5px;
  width: 345px;
  flex-grow: 1;
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0px;
  margin-right: 0px;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
}

header {
  border-top-color: rgb(230, 236, 240);
  background-color:rgba(255,255,255,1.00);
  border-top-style: solid;
  border-top-width: 1px;
  height: 52.5px;
  width: 345px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.box {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  flex-shrink: 1;
  flex-grow: 1;
  border: 0 solid;
  border-top-color: rgb(230, 236, 240);
  box-sizing: border-box;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  min-height: 0px;
  min-width: 0px;
  border-top-width: 1px;
  display: flex;
  flex-basis: auto;
  flex-direction: row;
}

.left {
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  margin-right: 0px;
  padding: 0px;
  width: 59px;
}

.icon {
  margin-right: 10px;
  width: 49px;
  height: 100%;
}

.right {
  padding-bottom: 10px;
  flex-basis: 0px;
  width: 284px;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 1;
  max-width: 100%;
  margin-right: 0px;

}

.nameline {
  margin-bottom: 2px;
  width: 284px;
  max-width: 100%;
  line-height: 1.3125;
  flex-direction: row;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  flex-shrink: 1;
}

.name {
  font-weight: bold;
  font-size: 15px;
  color: rgb(20, 23, 26);
  -webkit-box-orient: horizontal;
  flex-direction: row;
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  max-width: 100%;
  flex-shrink: 1;
}

.id {
  margin-left: 5px;
  font-weight: 400;
  color: rgb(101, 119, 134);
  -webkit-box-orient: horizontal;
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  max-width: 100%;
  flex-shrink: 1;
  font-size: 15px;
}

.dropdown {
  height: 15px;
  display: inline-flex;
  margin-left:auto;
  flex-direction: row;
  margin-right:0px;
  color: rgb(101, 119, 134);
}

.statement {
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-weight: 4;
  font-size: 15px;
  color: rgb(20, 23, 26);
  overflow-wrap: break-word;
  min-width: 0px;
  line-height: 1.3125;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
}

.reaction {
  margin-top: 10px;
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  width: 284px;
  line-height: 1.3125;
  font-size: 13px;
  color: rgb(101, 119, 134);
  margin-right:0px;
}

.num {
  color: rgb(101, 119, 134);
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-basis: auto;
  flex-direction: row;
}

.stars {
  height: 23px;
  display: inline-flex;
  margin-left:auto;
  flex-direction: row;
  margin-right:0px;
}

.home {
  font-size: 19px;
  font-weight: 800;
  font-stretch: 100%;
  color: #000000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  line-height: 1.3125;
}

.tweet {
  position: fixed;
  right: 20px;
  bottom: 73.5px;
  height: 59px;
  width: 59px;
  background-color: rgba(29,161,242,1.00);
  border-radius: 9999px;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 8px, rgba(101, 119, 134, 0.25) 0px 1px 3px 1px;
}

.tweet-mini {
  height: 24px;
  width: 24px;
  background-color: rgba(29,161,242,1.00);
  border-radius: 9999px;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 8px, rgba(101, 119, 134, 0.25) 0px 1px 3px 1px;
}