.header {
  margin: 0;
  height: 45px;
  background-color: #454545;
  width: 100%;
  display: flex;
}
.header .header_nav {
  margin: 8px 0 8px;
  padding: 0;
  list-style-type: none;
  display: flex;
}
.header .header_title {
  font-family: "Noto Sans JP";
  font-weight: bold;
  font-size: 15px;
  margin: auto 30px;
  letter-spacing: 2px;
}
.header .header_title a{
  color: white;
  line-height: 30px;
}
.header .header_nav .header_naviItem {
  font-family: "Noto Sans JP";
  font-weight: 350;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 2px;
  width: 100px;
  text-align: center;
}
.header .header_nav .header_naviItem:hover{
  background: gray;
}
.header .header_nav .header_naviItem a{
  color: white;
  line-height: 29px;
}
.header .header_nav .header_naviDiv {
  margin: auto 0px auto;
  width: 1px;
  height: 30px;
  border-left: solid 1px #FFFFFF;
}
.header #mobile_header_content {
  visibility: hidden;
  display: none
}
@media screen and (max-width: 768px) {
  .header {
      height: 45px;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
  }
  .header .header_title {
      font-family: "Noto Sans JP";
      font-weight: bold;
      font-size: 13px;
      margin: auto 20px;
      letter-spacing: 1px;
  }
  .header .header_naviItem {
      display: none
  }
  .header .header_naviDiv {
      display: none
  }
  .header .mobile {
      display: block
  }
  .header .head-btn, .header .head-btn span {
      display: inline-block;
      transition: all 0.4s;
      box-sizing: border-box
  }
  .header .head-btn {
      position: fixed;
      top: 14px;
      right: 20px;
      width: 24px;
      height: 18px;
      line-height: 50px;
      font-size: 12px;
      text-align: center;
      cursor: pointer;
      z-index: 999
  }
  .header .head-btn span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #FFF
  }
  .header .head-btn span:nth-of-type(1) {
      top: 0
  }
  .header .head-btn span:nth-of-type(2) {
      top: 8px
  }
  .header .head-btn span:nth-of-type(3) {
      bottom: 0
  }
  .header .head-btn.open span:nth-of-type(1) {
      -webkit-transform: translateY(8px) rotate(-45deg);
      transform: translateY(8px) rotate(-45deg)
  }
  .header .head-btn.open span:nth-of-type(2) {
      opacity: 0
  }
  .header .head-btn.open span:nth-of-type(3) {
      -webkit-transform: translateY(-8px) rotate(45deg);
      transform: translateY(-8px) rotate(45deg)
  }
  .header #mobile_header_content {
      visibility: visible;
      display: block;
      pointer-events: none;
      opacity: 0;
      height: 100%;
      position: fixed;
      top: 45px;
      width: 100%;
      background-color: #333;
      -webkit-transition: opacity 0.5s;
      -moz-transition: opacity 0.5s;
      -ms-transition: opacity 0.5s;
      transition: opacity 0.5s
  }
  .header #mobile_header_content .header_nav {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -40%);
      -ms-transform: translate(-50%, -40%);
      transform: translate(-50%, -40%);
      padding: 0;
      display: block;
      margin: 0 auto;
      width: 80%;
      height: 100%;
      list-style-type: none
  }
  .header #mobile_header_content .header_nav li {
      margin: 0
  }
  .header #mobile_header_content .header_naviItem {
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      width: 100%;
      height: 80px;
      font-size: 24px
  }
  .header #mobile_header_content.open {
      pointer-events: auto;
      opacity: 0.9
  }
}
.footer {
  background-color: #303030;
  margin: 0 auto;
  height: 150px;
  width: 100%;
  color: #fff;
  fill: #fff;
}
.footer_rights {
  font-size: 10px;
  margin: 70px 100px 0 0;
  padding: 0;
  float: right
}
.footer_logo {
  margin: 60px 0 0 100px;
  float: left
}
.footer_logo img {
  height: auto;
  max-width: 100%;
  width: 150px
}
@media screen and (max-width: 768px) {
  .footer {
      text-align: center;
      padding: 20px 0;
      height: auto;
  }
  .footer_rights, .footer_logo {
      float: none;
      margin: 0 auto
  }
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  color: rgba(29,161,242,1.00);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;

}

.pseudo-screen {
  position: relative;
  margin-top: 45px;
  height: calc(100vh - 45px);
}

main {
  flex: 1;
}

footer {
  border-top-color: rgb(230, 236, 240);
  background-color:rgba(255,255,255,1.00);
  border-top-style: solid;
  border-top-width: 1px;
  padding-bottom: env(safe-area-inset-bottom);
  height: 26.25px;
  flex-grow: 1;
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  bottom: 0;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 13.125px;
  padding-bottom: 13.125px;  
  -webkit-box-pack: justify;
  justify-content: space-around;
  position: sticky;
}

header.tw-header {
  border-top-color: rgb(230, 236, 240);
  background-color:rgba(255,255,255,1.00);
  border-top-style: solid;
  border-top-width: 1px;
  height: 52.5px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

.box {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  flex-shrink: 1;
  flex-grow: 1;
  border: 0 solid;
  border-top-color: rgb(230, 236, 240);
  box-sizing: border-box;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  min-height: 0px;
  min-width: 0px;
  border-top-width: 1px;
  display: flex;
  flex-basis: auto;
  flex-direction: row;
}

.left {
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  margin-right: 0px;
  padding: 0px;
  width: 59px;
}

.icon {
  margin-right: 10px;
  height: 100%;
}

.right {
  padding-bottom: 10px;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 100%;
  margin-right: 0px;

}

.nameline {
  margin-bottom: 2px;
  line-height: 1.3125;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  display: inline-flex;
  flex-basis: auto;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
}
.omit {
  display: inline-flex;
  flex-basis: auto;
  flex-direction: row;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-line-clamp: 3;

}
.name {
  font-weight: bold;
  font-size: 15px;
  color: rgb(20, 23, 26);
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.name-noomit {
  font-weight: bold;
  font-size: 15px;
  color: rgb(20, 23, 26);
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  max-width: 100%;
  white-space: nowrap;
}

.id {
  margin-left: 5px;
  font-weight: 400;
  color: rgb(101, 119, 134);
  -webkit-box-orient: horizontal;
  max-width: 100%;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; 
}

.id-noomit{
  margin-left: 5px;
  font-weight: 400;
  color: rgb(101, 119, 134);
  -webkit-box-orient: horizontal;
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  max-width: 100%;
  flex-shrink: 1;
  font-size: 15px;
  white-space: nowrap;
}


.dot {
  margin-left: 5px;
  font-weight: 400;
  color: rgb(101, 119, 134);
  -webkit-box-orient: horizontal;
  flex-basis: auto;
  flex-direction: row;
  font-size: 15px;
}

.time {
  margin-left: 5px;
  font-weight: 400;
  color: rgb(101, 119, 134);
  -webkit-box-orient: horizontal;
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  font-size: 15px;
}

.dropdown {
  height: 19px;
  display: inline-flex;
  margin-left:auto;
  flex-direction: row;
  margin-right:0px;
  color: rgb(101, 119, 134);
  padding-left: 5px;
}

.statement {
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-weight: 4;
  font-size: 15px;
  color: rgb(20, 23, 26);
  overflow-wrap: break-word;
  min-width: 0px;
  line-height: 1.3125;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
}

.reaction {
  margin-top: 10px;
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  line-height: 1.3125;
  font-size: 13px;
  color: rgb(101, 119, 134);
  margin-right:0px;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.reaction-c {
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  line-height: 1.3125;
  font-size: 13px;
  color: rgb(101, 119, 134);
}

.num {
  color: rgb(101, 119, 134);
  padding-left: 10px;
  padding-right: 10px;
  left: 0px;
  display: inline-flex;
  flex-basis: auto;
  flex-direction: row;
}

.stars {
  height: 23px;
  display: inline-flex;
  margin-left:auto;
  flex-direction: row;
  margin-right:0px;
}

.home {
  font-size: 19px;
  font-weight: 800;
  font-stretch: 100%;
  color: #000000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  line-height: 1.3125;
}

.tweet {
  position: fixed;
  right: 20px;
  bottom: 73.5px;
  height: 59px;
  width: 59px;
  background-color: rgba(29,161,242,1.00);
  border-radius: 9999px;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 8px, rgba(101, 119, 134, 0.25) 0px 1px 3px 1px;
}

.tweet-stars {
  position: fixed;
  right: 20px;
  bottom: 73.5px;
  height: 59px;
  width: 59px;
  background-color: #ffffff;
  border-radius: 9999px;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 8px, rgba(101, 119, 134, 0.25) 0px 1px 3px 1px;
}

.tweet-mini {
  height: 26.25px;
  width: 26.25px;
  padding: 0px;
  margin: 0px;
  background-color: rgba(29,161,242,1.00);
  border-radius: 9999px;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 8px, rgba(101, 119, 134, 0.25) 0px 1px 3px 1px;
}

.circle {
  margin-right: 10px;
  width: 47px;
  height: 47px;
  border-color: black;
  border: solid 1px black;
  border-radius: 9999px;
  display: flex;
  flex-direction: row;
}

.profile {
  height: 19px;
  border-radius: 9999px;
}