@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

$blue-primary: #3278F6;
$blue-dark: #698ac1;
$navy: #151B4E;
$grey: rgba(0, 0, 0, 0.4);
$grey-text: #444444;
$grey-border: rgba(0, 0, 0, 0.08);
$grey-lighter: rgba(0, 0, 0, 0.03);
$yellow: #F4B045;
$pink: #ee7076;

body {
  margin: 0;
  font-family: apple-system-subset,Helvetica,'Hiragino Kaku Gothic ProN',sans-serif;
  box-sizing: border-box;
  background-color: #eee;
  color: $grey-text;
}
.header {
  margin: 0;
  height: 45px;
  background-color: #454545;
  width: 100%;
  display: flex;
}
.header .header_nav {
  margin: 8px 0 8px;
  padding: 0;
  list-style-type: none;
  display: flex;
}
.header .header_title {
  font-family: "Noto Sans JP";
  font-weight: bold;
  font-size: 15px;
  margin: auto 30px;
  letter-spacing: 2px;
}
.header .header_title a{
  color: white;
  line-height: 30px;
}
.header .header_nav .header_naviItem {
  font-family: "Noto Sans JP";
  font-weight: 350;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 2px;
  width: 100px;
  text-align: center;
}
.header .header_nav .header_naviItem:hover{
  background: gray;
}
.header .header_nav .header_naviItem a{
  color: white;
  line-height: 29px;
}
.header .header_nav .header_naviDiv {
  margin: auto 0px auto;
  width: 1px;
  height: 30px;
  border-left: solid 1px #FFFFFF;
}
.header #mobile_header_content {
  visibility: hidden;
  display: none
}
@media screen and (max-width: 768px) {
  .header {
      height: 45px;
      // position: fixed;
      position: relative;
      top: 0;
      left: 0;
      z-index: 10;
  }
  .header .header_title {
      font-family: "Noto Sans JP";
      font-weight: bold;
      font-size: 13px;
      margin: auto 20px;
      letter-spacing: 1px;
  }
  .header .header_naviItem {
      display: none
  }
  .header .header_naviDiv {
      display: none
  }
  .header .mobile {
      display: block
  }
  .header .head-btn, .header .head-btn span {
      display: inline-block;
      transition: all 0.4s;
      box-sizing: border-box
  }
  .header .head-btn {
      position: fixed;
      top: 14px;
      right: 20px;
      width: 24px;
      height: 18px;
      line-height: 50px;
      font-size: 12px;
      text-align: center;
      cursor: pointer;
      z-index: 999
  }
  .header .head-btn span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #FFF
  }
  .header .head-btn span:nth-of-type(1) {
      top: 0
  }
  .header .head-btn span:nth-of-type(2) {
      top: 8px
  }
  .header .head-btn span:nth-of-type(3) {
      bottom: 0
  }
  .header .head-btn.open span:nth-of-type(1) {
      -webkit-transform: translateY(8px) rotate(-45deg);
      transform: translateY(8px) rotate(-45deg)
  }
  .header .head-btn.open span:nth-of-type(2) {
      opacity: 0
  }
  .header .head-btn.open span:nth-of-type(3) {
      -webkit-transform: translateY(-8px) rotate(45deg);
      transform: translateY(-8px) rotate(45deg)
  }
  .header #mobile_header_content {
      visibility: visible;
      display: block;
      pointer-events: none;
      opacity: 0;
      height: 100%;
      position: fixed;
      top: 45px;
      width: 100%;
      background-color: #333;
      -webkit-transition: opacity 0.5s;
      -moz-transition: opacity 0.5s;
      -ms-transition: opacity 0.5s;
      transition: opacity 0.5s
  }
  .header #mobile_header_content .header_nav {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -40%);
      -ms-transform: translate(-50%, -40%);
      transform: translate(-50%, -40%);
      padding: 0;
      display: block;
      margin: 0 auto;
      width: 80%;
      height: 100%;
      list-style-type: none
  }
  .header #mobile_header_content .header_nav li {
      margin: 0
  }
  .header #mobile_header_content .header_naviItem {
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      width: 100%;
      height: 80px;
      font-size: 24px
  }
  .header #mobile_header_content.open {
      pointer-events: auto;
      opacity: 0.9
  }
}
.screen-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 45px);
}
.sidebyside {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.for-mobile {
  @media screen and (min-width: 769px) {
    display: none;
  }
}
.container-inner {
  margin: 0 auto;
  .caption {
    text-align: center;
    padding: 8px;
    font-size: 13px;
    opacity: 0.5;
  }
}
.pseudo-screen {
  height: calc(100vh - 45px);
  width: 100vw;
  overflow-y: scroll;
  position: relative;
  @media screen and (min-width: 769px) {
    max-width: 375px;
    height: 80vh;
    max-height: 812px;
  }
}
.spacer {
  flex-grow: 1;
}
a {
  text-decoration: none;
  font-weight: bold;
}
header.nav {
  display: flex;
  align-items: center;
  height: 50px;
  box-sizing: border-box;
  padding: 8px 12px 0px 12px;
  background-color: #fff;
  img.logo {
    height: 100%;
    cursor: pointer;
  }
  a {
    display: block;
    font-size: 14px;
    color: $grey-text;
    padding: 8px;
  }
  img.ic {
    padding: 8px;
    &.broken {
      height: 100%;
    }
  }
}
.search-section {
  height: 55px;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 8px;
  box-sizing: border-box;
  background-color: #fff;
  .search-box-wrap {
    height: 100%;
    border: 2px solid $blue-primary;
    border-radius: 4px;
    display: flex;
    align-items: stretch;
    box-sizing: border-box;
    .search-box {
      background-color: #fff;
      display: flex;
      flex-grow: 1;
      align-items: center;
      box-sizing: border-box;
      input {
        flex-grow: 1;
        width: 70%;
        height: 100%;
        outline: none;
        border: none;
        display: block;
        box-sizing: border-box;
        font-size: 16px;
        line-height: 100%;
      }
      svg {
        padding: 8px;
        fill: $grey;
      }
      .broken {
        height: 100%;
        filter: grayscale(100%);
        opacity: 0.7;
        cursor: pointer;
      }
    }
    .search-button {
      outline: none;
      border: none;
      background-color: $blue-primary;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      padding: 2px 16px;
    }
  }
}
.disaster {
  background-color: #fff;
  margin: 8px;
  border-radius: 4px;
  border: 2px solid $navy;
  .disaster-header {
    background-color: $navy;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 40% 30%;
    align-items: center;
    img {
      display: block;
      fill: #fff;
      height: 16px;
      width: 16px;
      padding: 0 16px;
    }
    h2 {
      margin: 0;
      padding: 8px 0;
      font-weight: bold;
      font-size: 16px;
      flex-shrink: 1;
      text-align: center;
    }
    p {
      margin: 0;
      margin-right: 16px;
      font-size: 12px;
      flex-grow: 1;
      text-align: right;
      line-height: 100%;
      vertical-align: middle;
      white-space: nowrap;
      &.broken {
        text-align: left;
        margin-left: 16px;
      }
    }
  }
  .disaster-upper {
    display: flex;
    padding: 12px;
    align-items: flex-start;
    border-bottom: 1px solid $grey-border;
    img {
      display: block;
    }
    img.caution {
      fill: $yellow;
      margin-right: 8px;
      &.broken {
        width: 24px;
      }
    }
    img.next {
      // fill: $grey;
      // color: $grey;
      width: 14px;
      align-self: center;
      opacity: 0.3;
      &.broken {
        width: 24px;
        opacity: 1;
      }
    }
    .texts {
      width: 16px;
      flex-grow: 1;
      h2 {
        margin: 0;
        font-size: 18px;
        line-height: 1.2em;
      }
      p {
        margin: 0;
        margin-top: 4px;
        font-weight: bold;
        font-size: 13px;
      }
      .tooltips {
        display: inline-flex;
        margin-top: 4px;
        .tip {
          background-color: $navy;
          color: #fff;
          font-weight: bold;
          padding: 2px 4px;
          font-size: 13px;
          margin-right: 4px;
          &.broken {
            display: inline-flex;
            align-items: center;
          }
          &.broken-text {
            padding: 2px 16px;
            display: flex;
            align-items: center;
            vertical-align: middle;
            cursor: pointer;
          }
          svg {
            width: 1.2em;
            height: 1.2em;
            fill: #fff;
          }
          input {
            background-color: transparent;
            border: none;
            color: #fff;
            width: 7em;
            &::placeholder {
              color: #fff;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  .disaster-lower {
    padding: 12px;
    padding-top: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      font-size: 14px;
      margin: 0;
    }
    button {
      display: block;
      margin-top: 4px;
      padding: 8px 64px;
      border: none;
      border-radius: 4px;
      background-color: $blue-primary;
      color: #fff;
      font-weight: bold;
      font-size: 16px;
      cursor: pointer;
      &.broken {
        display: flex;
        align-items: center;
        padding: 12px 80px;
      }
      img.broken {
        fill: #fff;
      }
    }
  }
}
.services {
  background-color: #fff;
  display: grid;
  grid-template-rows: 56px 56px;
  grid-template-columns: 20% 20% 20% 20% 20%;
  .service-container, .service-all {
    border: 0.2px solid $grey-border;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &.broken {
      padding: 2px;
    }
    img {
      width: 28px;
      height: 28px;
      object-fit: contain;
      &.broken-chevron {
        width: 16px;
        height: 16px;
        opacity: 0.3;
      }
      &.broken-bell {
        width: 24px;
      }
    }
    p {
      margin: 0;
      font-size: 11px;
      font-weight: bold;
      color: $grey;
      white-space: nowrap;
      &.broken {
        white-space: normal;
        line-height: 1.2em;
      }
    }
  }
  .service-all {
    background-color: $grey-lighter;
  }
}
.news {
  margin-top: 8px;
  background-color: #fff;
  .news-tab-container {
    background-color: $grey-lighter;
    overflow-x: scroll;
    white-space: nowrap;
    border-top: 1px solid $grey-border;
    border-bottom: 1px solid $grey-border;
    a {
      box-sizing: border-box;
      display: inline-block;
      padding: 12px 8px;
      color: $grey-text;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        right: -2px;
        top: 50%;
        transform: translateY(-50%);
        display: inline-block;
        width: 1px;
        height: 1.0em;
        background-color: $grey-border;
      }
    }
    a.primary {
      color: #fff;
      background-color: $pink;
    }
  }
  .news-container {
    .news-item {
      display: flex;
      img {
        margin: 8px;
        width: 52px;
        height: 52px;
        object-fit: fill;
      }
      .news-texts {
        border-bottom: 1px solid $grey-border;
        flex-grow: 1;
        height: calc(52px + 8px + 8px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 8px;
        h3 {
          margin: 0;
          font-size: 16px;
        }
        .news-under {
          display: flex;
          align-items: center;
          font-size: 11px;
          .comments {
            display: inline-flex;
            align-items: center;
            img {
              width: 12px;
              height: 12px;
              margin: 0;
            }
            p {
              color: $blue-dark;
              margin-left: 4px;
            }
          }
          p {
            margin: 0;
            margin-left: 8px;
          }
          p.date {
            color: $grey;
          }
          p.new {
            display: flex;
            background-color: $yellow;
            color: #fff;
            font-weight: bold;
            border-radius: 100px;
            font-size: 8px;
            padding: 2px 4px;
            vertical-align: bottom;
          }
        }
      }
    }
  }
}